In [9]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)
print(100%5)
print(51%5)
print(14%5)

Which number is biggest?
100
Which number is the biggest modulo 5?
14
0
1
4

In [15]:
numbers = [1,2,3,4,5,6,7,8,9,10]
new_list = [1 for n in numbers if n%2==0][:4]
print(new_list)

[1, 1, 1, 1]

In [16]:
# Initialize the `kilometer` list
kilometer = [39.2, 36.5, 37.3, 37.8]

# Construct `feet` with `map()`
feet = map(lambda x: float(3280.8399)*x, kilometer)

# Print `feet` as a list
print(list(feet))

[128608.92408000001, 119750.65635, 122375.32826999998, 124015.74822]

In [21]:
list_of_list = [[1,2,3],[4,5,6],[7,8]]

# Flatten `list_of_list`
y = [y for x in list_of_list for z in x]

print(y)

[[1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8]]

In [22]:
list_of_list = [[1,2,3],[4,5,6],[7,8]]

# Flatten `list_of_list`
y = [y for x in list_of_list for y in x]

print(y)

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
print(year)

1956

In [28]:
import pandas as pd
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']}, index= ['may','nour'])

                Bob           Sue
may     I liked it.  Pretty good.
nour  It was awful.        Bland.